.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px 20px;
}
.items{

}
.person.active{
    color: #ff6b00;
}

.person:not(:last-child){
    margin-bottom: 10px;
}
.message:not(:last-child){
    margin-bottom: 10px;
}